extends ../../../templates/master.pug 
block vars
  - var title = 'Equipment Assignment'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Equipment Assignment
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Assign Equipment
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                    tr
                      th Owned By
                      th Dept./Proj.
                      th Equipment
                      th Property Number
                      th PAR Number
                      th Serial Number
                      th Actions
                tbody
                  each equi in equipments
                    tr
                      td #{equi.strFirstName} #{equi.strLastName}
                      td #{equi.strOwnerDept}
                      td #{equi.txtActualEquipment}
                      td #{equi.txtPropertyNumber}
                      td #{equi.txtPARNumber}
                      td #{equi.txtSerialNumber}
                      td 
                        button.btn.btn-primary.btn-circle(type='button', title='Edit storage input', data-toggle="modal", data-target="#editModal", data-id=equi.intOwnershipID, data-prop=equi.txtPropertyNumber, data-ser=equi.txtSerialNumber, data-dat=equi.dtmMRDate, data-par=equi.txtPARNumber)
                            i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle(type='button', title='Delete storage data', data-toggle="modal", data-target="#deleteModal", data-id=equi.intOwnershipID)
                            i.fa.fa-trash 

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Stock
          form(action='/equipment/create', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Owned By
                        select#equName.form-control(name='equName')
                          each emp in employ
                            option.equName(value=emp.intZFEmpID) #{emp.strFirstName} #{emp.strLastName}
                    .col-md-6
                      .form-group
                        label.control-label Department
                        select#equDept.form-control(name='equDept')
                          each dep in depty
                            option.equDept(value=dep.strDeptCode) #{dep.strDeptCode}
                    .col-md-12
                      .form-group
                        label.control-label Equipment
                        select.equDesc.form-control(name='equDesc')
                          each seq in sequi
                            option.equDesc(value=seq.intStorageID) #{seq.txtStorageEquip}
                    .col-md-6
                      .form-group
                        label.control-label Property Number
                        input.equProp.form-control(type='text' name='equProp' placeholder="AAAA-000" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='11' required)
                    .col-md-6
                      .form-group
                        label.control-label Serial Number
                        input.equSer.form-control(type='text' name='equSer' placeholder="00AA132" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='7' required)
                    .col-md-6
                      .form-group
                        label.control-label PAR Number
                        input.equPAR.form-control(type='text' name='equPAR' placeholder="00-00-00" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='10' required)
                    .col-md-6
                      .form-group
                        label.control-label MR Date
                        input.equDat.datepicker.form-control(type='text' name='equDat' placeholder="MM-DD-YYYY")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Stock
          form(action='/equipment/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Owned By
                        select.equName.form-control(name='equName')
                          each emp in employ
                            option.equName(value=emp.intZFEmpID) #{emp.strFirstName} #{emp.strLastName}
                    .col-md-6
                      .form-group
                        label.control-label Department
                        select.equDept.form-control(name='equDept')
                          each dep in depty
                            option.equDept(value=dep.strDeptCode) #{dep.strDeptCode}
                    .col-md-12
                      .form-group
                        label.control-label Equipment
                        select.equDesc.form-control(name='equDesc')
                          each seq in sequi
                            option.equDesc(value=seq.intStorageID) #{seq.txtStorageEquip}
                    .col-md-6
                      .form-group
                        label.control-label Property Number
                        input.equProp.form-control(type='text' name='equProp' placeholder="AAAA-000" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='11' required)
                    .col-md-6
                      .form-group
                        label.control-label Serial Number
                        input.equSer.form-control(type='text' name='equSer' placeholder="00AA132" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='7' required)
                    .col-md-6
                      .form-group
                        label.control-label PAR Number
                        input.equPAR.form-control(type='text' name='equPAR' placeholder="00-00-00" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='10' required)
                    .col-md-6
                      .form-group
                        label.control-label MR Date
                        input.equDat.datepicker.form-control(type='text' name='equDat' placeholder="MM-DD-YYYY")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save
              
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Stock
          form(action='/equipment/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this stock?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body .id').val(`${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var prop = button.data('prop')
      var ser = button.data('ser')
      var dat = button.data('dat') 
      var par = button.data('par')
      let modal = $(this);     
      modal.find('.modal-body .id').val(`${id}`)
      modal.find('.modal-body .equProp').val(`${prop}`)
      modal.find('.modal-body .equSer').val(`${ser}`)
      modal.find('.modal-body .equDat').val(`${dat}`)
      modal.find('.modal-body .equPAR').val(`${par}`)
      });

