extends ../../../templates/master.pug 
block vars
  - var title = 'Network Assignment'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Network Assignment
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Assign Address
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                    tr
                      th Owner
                      th Device
                      th Network Address
                      th WiFi Address
                      th Actions
                tbody
                  each netty in networks
                    tr
                      td #{netty.strOwnerName} 
                      td #{netty.strDeviceName} 
                      td #{netty.strNetworkAddress}  
                      td #{netty.strWifiAddress}
                      td 
                        button.btn.btn-primary.btn-circle(type='button', title='Edit assignment', data-toggle="modal", data-target="#editModal", data-id=netty.intNetworkID, data-netadd=netty.strNetworkAddress, data-wifiadd=netty.strWifiAddress)
                            i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle.deleteModal(type='button', value=netty.intNetworkID)
                            i.fa.fa-trash 

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Address
          form(action='/network/create', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Owned By
                        select.netName.form-control(name='netName') 
                          option.netName(value='' selected) - Select Employee/Owner -
                          each emp in employ
                            option.netName(value=emp.intZFEmpID) #{emp.strFirstName} #{emp.strLastName}
                    .col-md-6
                      .form-group
                        label.control-label Device
                        select.netDevName.form-control(name='netDevName')
                          option.netDevName(value='' selected) - Select Device -
                          each dev in device
                            option.netDevName(value=dev.strBrand+' '+dev.strMod) #{dev.strBrand} - #{dev.strMod}
                    .col-md-12
                      .form-group
                        label.control-label Network Address
                        input.netAdd.form-control(type='text' name='netAdd' title='Please input the network address format: 00:00:00:00:00:00' placeholder="A0:B1:C2:D3:E4:F5" onkeypress='return restrictCharacters(this, event, networkOnly)' maxlength='17' pattern='^[A-E0-9]{2}[:]{1}[A-E0-9]{2}[:]{1}[A-E0-9]{2}[:]{1}[A-E0-9]{2}[:]{1}[A-E0-9]{2}[:]{1}[A-E0-9]{2}$')
                    .col-md-12
                      .form-group
                        label.control-label WiFi Address
                        input.wifiAdd.form-control(type='text' name='wifiAdd' title='Please input the WiFi address format: 00-00-00-00-00-00' placeholder="00-14-22-01-23-45" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='17' pattern='^[A-E0-9]{2}[-]{1}[A-E0-9]{2}[-]{1}[A-E0-9]{2}[-]{1}[A-E0-9]{2}[-]{1}[A-E0-9]{2}[-]{1}[A-E0-9]{2}$')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Details
          form(action='/network/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Owned By
                        select.netName.form-control(name='netName')
                          each emp in employ
                            option.netName(value=emp.strFirstName+' '+emp.strLastName) #{emp.strFirstName} #{emp.strLastName}
                    .col-md-6
                      .form-group
                        label.control-label Device
                        select.netDevName.form-control(name='netDevName')
                          option.netDevName(value='' selected) - Select Device -
                          each dev in devvy
                            option.netDevName(value=dev.strUnitTypeDesc) #{dev.strUnitTypeDesc}
                    .col-md-12
                      .form-group
                        label.control-label Network Address
                        input.netAdd.form-control(type='text' name='netAdd' placeholder="A0:B1:C2:D3:E4:F5" onkeypress='return restrictCharacters(this, event, networkOnly)' maxlength='17' required)
                    .col-md-12
                      .form-group
                        label.control-label WiFi Address
                        input.wifiAdd.form-control(type='text' name='wifiAdd' placeholder="00-14-22-01-23-45" onkeypress='return restrictCharacters(this, event, parPropOnly)' maxlength='17' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Record
          form(action='/network/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this stock?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $(document).ready(function() {
      $('#dataTables-example').DataTable({
      responsive: true
      });
      });

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body .id').val(`${id}`)
      });

    script.
      $(document).ready(function(){
        $('.deleteModal').click(function(){
          var idNow = $(this).val();
          var link = '/network/delete/';
          console.log(idNow);
          swal({
            title: 'Delete network assignment?',
            text: 'This record cannot be accessed once deleted.',
            icon: 'warning',
            buttons: ['No', 'Yes'],
            dangerMode: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
          }).then((result) => {
              if(result){
                var idNow = $(this).val();
                var link = '/network/delete/';
                var bura = $(this).closest('tr');
                $.ajax({
                  method : 'POST',
                  url : link,
                  data : {
                    id : idNow
                  },
                  success:(function(response){
                    if(response == "deleted"){
                      swal({
                        title: "Success!",
                        text: "Network assignment successfully deleted!",
                        icon: "success",
                        buttons: false,
                        closeOnConfirm: false,
                        timer: 1500
                      });
                      bura.fadeOut();                    
                    }
                  })
                })
              }
              else{
                swal({
                  title: "Canceled",
                  text: "Your record is safe.",
                  icon: "success",
                  buttons: false,
                  timer: 1500,
                });
              }
          })
        })
      })
    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var netadd = button.data('netadd')
      var wifiadd = button.data('wifiadd')
      let modal = $(this);     
      modal.find('.modal-body .id').val(`${id}`)
      modal.find('.modal-body .netAdd').val(`${netadd}`)
      modal.find('.modal-body .wifiAdd').val(`${wifiadd}`)
      });
  
      //- script.
      //-   function populate(s1, s2){
      //-     var s1 = document.getElementById(s1);
      //-     var s2 = document.getElementById(s2);

      //-     s2.innerHTML = "";
      //-     if(s1.value == intZFEmpID){
      //-       var optionArray = [];
      //-       each tee in employ
      //-         optionArray.push(tee.)  
              
      //-     }
      //-   }
      