extends ../../../templates/master-reports.pug 
block vars
  - var title = 'Active Accounts'
block unique-master
  .se-pre-con
  body
    #wrapper
      .col-lg-12
        h1.page-header
          | Active Accounts
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatable
                thead
                  tr
                    th Owner
                    th Department
                    th Device
                    th Email Account
                    th Account ID
                    th Network Address
                    th WiFi Address
                tbody
                  each act in actres
                    tr
                      td #{act.strOwnerName}
                      td #{act.strDeviceName}
                      td #{act.strEmpDept}
                      td #{act.strEmailAccount}
                      td #{act.strIDAccount}
                      td #{act.strNetworkAddress}
                      td #{act.strWifiAddress}
