extends ../../../templates/master-reports.pug 
block vars
  - var title = 'Reports'
block unique-master
  .se-pre-con
  body
    #wrapper
      .col-lg-12
        h1.page-header
          | Reports
          button.btn.btn-primary.btn-danger.btn-lg.pull-right(type='button', title='Print this report', onclick="printContent('printThis')")
            i.fa.fa-print.fa-fw
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatable#printThis
                thead
                  tr
                    th Employee ID
                    th Employee Name
                    th Equipment
                    th Property No.
                    th Serial No.
                    th MR Date
                    th Department
                    th Value
                tbody
                    each rep in reports
                      tr
                        td EMP#{rep.intZFEmpID}
                        td #{rep.strFirstName} #{rep.strLastName}
                        td #{rep.txtActualEquipment}
                        td #{rep.txtPropertyNumber}
                        td #{rep.txtSerialNumber}
                        td #{rep.MRDate}
                        td #{rep.strOwnerDept}
                        td ₱ #{rep.fltPrice}
  script.
    function printContent(pr){
      let restorepage = $('body').html();
      let printcontent = $('#' + pr).clone();
      $('body').empty().html(printcontent);
      window.print();
      $('body').html(restorepage);
    }