extends ../../../templates/master.pug 
block vars
  - var title = 'Accounts'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Accounts
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Set Accounts
          button.btn.btn-info.btn-primary.btn-lg.pull-right.helpMod(type='button', title="What's this?", data-toggle="modal", data-target=".helpModal")
            i.fa.fa-question.fa-fw
          button.btn.btn-primary.btn-danger.btn-lg.pull-right(type='button', title='Print something', onclick="printReports('.row')")
            i.fa.fa-print.fa-fw
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                  tr
                    th Device Owner
                    th Device
                    th Email Account
                    th Email Password
                    th Account ID
                    th Account ID Password
                    th Actions
                tbody
                  each acc in accounts
                    tr
                      td #{acc.strFirstName} #{acc.strLastName}
                      td #{acc.strDevice}
                      td #{acc.strEmailAccount}
                      td #{acc.strEmailPass}
                      td #{acc.strIDAccount}
                      td #{acc.strIDAccPassword}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit account details', data-toggle="modal", data-target="#editModal", data-id=acc.intAccountID, data-dev=acc.strDevice, data-devid=acc.strDeviceAccount, data-email=acc.strEmailAccount, data-empass=acc.strEmailPass, data-idacc=acc.strIDAccount, data-idpass=acc.strIDAccPassword, data-netw=acc.strNetworkAddress)
                          i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle(type='button', title='Delete account details', data-toggle="modal", data-target="#deleteModal" data-id=acc.intAccountID)
                          i.fa.fa-trash

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Account
          form(action='/accounts', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Device Owner
                        select.devOwn.form-control(name='devOwn')
                          option.devOwn(value='' selected) - Select Employee/Owner -
                          each oww in owner
                            option(value=oww.intZFEmpID) #{oww.strFirstName} #{oww.strLastName}
                    .col-md-12
                      .form-group
                        label.control-label Device
                        input.accDev.form-control(type='text' name='accDev' placeholder="MacBook Pro" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Email Account
                        input.accEma.form-control(type='text' name='accEma' placeholder="example@gmail.com" onkeypress='return restrictCharactersB(this, event, emailOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Email Password
                        input.accEmaPass.form-control(type='password' name='accEmaPass' placeholder="••••••••" required)
                    .col-md-6
                      .form-group
                        label.control-label ID Account
                        input.accIDAcc.form-control(type='text' name='accIDAcc' placeholder="nha@icloud.com" onkeypress='return restrictCharactersB(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Account Password
                        input.accIDAccPass.form-control(type='password' name='accIDAccPass' placeholder="••••••••" required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Account
          form(action='/accounts/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Device Owner
                        select.devOwn.form-control(name='devOwn')
                          each oww in owner
                            option(value=oww.intZFEmpID) #{oww.strFirstName} #{oww.strLastName}
                    .col-md-12
                      .form-group
                        label.control-label Device
                        input.accDev.form-control(type='text' name='accDev' placeholder="MacBook Pro" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Email Account
                        input.accEma.form-control(type='text' name='accEma' placeholder="example@gmail.com" onkeypress='return restrictCharactersB(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Email Password
                        input.accEmaPass.form-control(type='password' name='accEmaPass' placeholder="••••••••" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label ID Account
                        input.accIDAcc.form-control(type='text' name='accIDAcc' placeholder="nha@icloud.com" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Account Password
                        input.accIDAccPass.form-control(type='password' name='accIDAccPass' placeholder="••••••••" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Account
          form(action='/accounts/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this account?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit' onclick='') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #id').val(`${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var dev = button.data('dev')
      var devid = button.data('devid')
      var email = button.data('email')
      var empass = button.data('empass')
      var idacc = button.data('idacc')
      var idpass = button.data('idpass')
      var netw = button.data('netw')
      let modal = $(this);     
      modal.find('.modal-body .id').val(`${id}`)
      modal.find('.modal-body .accDev').val(`${dev}`)
      modal.find('.modal-body .accDevAcc').val(`${devid}`)
      modal.find('.modal-body .accEma').val(`${email}`)
      modal.find('.modal-body .accEmaPass').val(`${empass}`)
      modal.find('.modal-body .accIDAcc').val(`${idacc}`)
      modal.find('.modal-body .accIDAccPass').val(`${idpass}`)
      modal.find('.modal-body .accNetAdd').val(`${netw}`)
      });

    script.
      $('.helpMod').click(function(){
        swal("Account Maintenance", "This page displays all account details including the user's email address, usernames, and passwords.")
      });
