extends ../../../templates/master.pug 
block vars
  - var title = 'Department'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Department
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Department
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                  tr
                    th Department Code
                    th Department Name
                    th Action
                tbody
                  each de in depart
                    tr
                      td #{de.strDeptCode}
                      td #{de.txtDeptName}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit department', data-toggle="modal", data-target="#editModal", data-id=de.intDeptID, data-deptcode=de.strDeptCode, data-deptname=de.txtDeptName)
                          i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle(type='button', title='Delete department', data-toggle="modal", data-target="#deleteModal", data-id=de.intDeptID)
                          i.fa.fa-trash
    
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Department
          form(action='/department', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Department Code
                        input#username.form-control(type='text' name='deptCode' placeholder="HR" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department Name
                        input#userpass.form-control(type='text' name='deptName' placeholder="Human Resource" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Add

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Department
          form(action='/department/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Department Code
                        input.deptCode.form-control(type='text' name='deptCode' onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department Name
                        input.deptName.form-control(type='text' name='deptName' onkeypress='return restrictCharacters(this, event, alphaOnly)' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Department
          form(action='/department/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this department?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #id').val(` ${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var deptcode = button.data('deptcode')
      var deptname = button.data('deptname')
      let modal = $(this);     
      modal.find('.modal-body #id').val(` ${id}`)
      modal.find('.modal-body .deptCode').val(`${deptcode}`)
      modal.find('.modal-body .deptName').val(`${deptname}`)
      });
      