extends ../../../templates/master.pug 
block vars
  - var title = 'Department'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Department
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Department
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables#deptTable
                thead
                  tr
                    th Department Code
                    th Department Name
                    th Action
                tbody#dept_tbody
                  each de in depart
                    tr
                      td #{de.strDeptCode}
                      td #{de.txtDeptName}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit department', data-toggle="modal", data-target="#editModal", data-id=de.intDeptID, data-deptcode=de.strDeptCode, data-deptname=de.txtDeptName)
                          i.fa.fa-wrench
                        // button.btn.btn-danger.btn-circle(type='button', title='Delete department', data-toggle='modal', data-target='#deleteModal' data-id=de.intDeptID)
                          i.fa.fa-trash
                        button.btn.btn-danger.btn-circle.deleteSwal(type='button', value=de.intDeptID)
                          i.fa.fa-trash
    
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Department
          form(action='/department', method='post' id='deptForm')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Department Code
                        input#deptCode.form-control(type='text' name='deptCode' placeholder="HR" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department Name
                        input#deptName.form-control(type='text' name='deptName' placeholder="Human Resource" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary.addSwal(type='submit') Add

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Department
          form(action='/department/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Department Code
                        input.deptCode.form-control(type='text' name='deptCode' onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department Name
                        input.deptName.form-control(type='text' name='deptName' onkeypress='return restrictCharacters(this, event, alphaOnly)' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save
    
    script.
      $(document).ready(function(){
        $('.addSwal').click(function(e){
          e.preventDefault();
          var idNow = $(this).val();
          var link = '/department';
          console.log(idNow);
          swal({
            title: 'Add Department?',
            text: 'This department will be added to the records.',
            icon: 'warning',
            buttons: ['No', 'Yes'],
            dangerMode: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
          }).then((result) => {
              if(result){
                var idNow = $(this).val();
                var link = '/department';
                var rowAdd = $(this).closest('tr');
                var table =$('#deptTable').DataTable();
                $.ajax({
                  method : 'POST',
                  url : link,
                  data : $('form#deptForm').serializeArray(),
                  success:(function(response){
                    if(response){
                      swal({
                        title: "Success!",
                        text: "Department successfully added!",
                        icon: "success",
                        buttons: false,
                        closeOnConfirm: false,
                        timer: 1500
                      })
                      var table_data = '';
                      table_data +=`
                        <tr>
                          <td> ${response[0].strDeptCode} </td>
                          <td> ${response[0].txtDeptName} </td>
                          <td>
                            Record added, please refresh the page.
                          </td>
                        </tr>
                      `;
                      $("tbody#dept_tbody").append(table_data);
                      document.getElementById('deptCode').value = '';
                      document.getElementById('deptName').value = '';
                    }
                  })
                })
              }
              else{
                swal({
                  title: "Canceled!",
                  text: "Department adding canceled!",
                  icon: "success",
                  buttons: false,
                  timer: 1500,
                });
              }
          })
        })
      })

    script.
      $(document).ready(function(){
        $('.deleteSwal').click(function(){
          var idNow = $(this).val();
          var link = '/department/delete/';
          console.log(idNow);
          swal({
            title: 'Delete Department?',
            text: 'This record cannot be accessed once deleted.',
            icon: 'warning',
            buttons: ['No', 'Yes'],
            dangerMode: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
          }).then((result) => {
              if(result){
                var idNow = $(this).val();
                var link = '/department/delete/';
                var rowDel = $(this).closest('tr');
                $.ajax({
                  method : 'POST',
                  url : link,
                  data : {
                    id : idNow,
                  },
                  success:(function(response){
                    if(response == "deleted"){
                      swal({
                        title: "Success!",
                        text: "Department successfully deleted!",
                        icon: "success",
                        buttons: false,
                        closeOnConfirm: false,
                        timer: 1500
                      });
                      rowDel.fadeOut();                    
                    }
                  })
                })
              }
              else{
                swal({
                  title: "Canceled",
                  text: "Your record is safe.",
                  icon: "success",
                  buttons: false,
                  timer: 1500,
                });
              }
          })
        })
      })

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var deptcode = button.data('deptcode')
      var deptname = button.data('deptname')
      let modal = $(this);     
      modal.find('.modal-body #id').val(` ${id}`)
      modal.find('.modal-body .deptCode').val(`${deptcode}`)
      modal.find('.modal-body .deptName').val(`${deptname}`)
      });
