extends ../../../templates/master.pug 
block vars
  - var title = 'Employee'

block unique-content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Employee
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Employee
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                  tr
                    th Employee Number
                    th Employee Name
                    th Department
                    th Action
                tbody
                  each emp in employees
                    tr
                      td #{emp.intZFEmpID}
                      td #{emp.strFirstName} #{emp.strLastName}
                      td #{emp.strEmpDept}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit employee details', data-toggle="modal", data-target="#editModal", data-fname=emp.strFirstName, data-lname=emp.strLastName, data-id=emp.intZFEmpID, data-drpdept=emp.strEmpDept)
                          i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle(type='button', title='Delete employee details', data-toggle="modal", data-target="#deleteModal", data-id=emp.intZFEmpID)
                          i.fa.fa-trash

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Employee
          form(action='/employee', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Employee's First Name
                        input.empFName.form-control(type='text' name='empFName' placeholder="Ralph" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Employee's Last Name
                        input.empLName.form-control(type='text' name='empLName' placeholder="Stilton" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department
                        select.empDept.form-control(name='empDept')
                          option.stoUnit(value='' selected) - Select Department -
                          each dep in deppy
                            option.empDept(value=dep.strDeptCode) #{dep.strDeptCode} - #{dep.txtDeptName}
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Employee
          form(action='/employee/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Employee's First Name
                        input.empFName.form-control(type='text' name='empFName' onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-6
                      .form-group
                        label.control-label Employee's Last Name
                        input.empLName.form-control(type='text' name='empLName' onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-12
                      .form-group
                        label.control-label Department
                        select.empDept.selectSample.form-control(name='empDept')
                          option.empDept(value='' selected) - Select Department -
                          each dep in deppy
                            option.empDept(value=dep.strDeptCode) #{dep.strDeptCode} - #{dep.txtDeptName}
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Employee
          form(action='/employee/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this employee?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #id').val(` ${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var lname = button.data('lname')
      var fname = button.data('fname')
      var dept = button.data('drpdept')
      let modal = $(this);     
      modal.find('.modal-body #id').val(`${id}`)
      modal.find('.modal-body .empFName').val(`${fname}`)
      modal.find('.modal-body .empLName').val(`${lname}`)
      modal.find('.modal-body .selectSample').val(`${dept}`)
      });
    script.
      var alphaNumOnly = /^[a-zA-Z0-9 ]+$/i;

      function restrictCharacters(myfield, e, restrictionType) {
          if (!e) var e = window.event
          if (e.keyCode) code = e.keyCode;
          else if (e.which) code = e.which;
          var character = String.fromCharCode(code);
          // if they pressed esc... remove focus from field...
          if (code==27) { this.blur(); return false; }
          // ignore if they are press other keys
          // strange because code: 39 is the down key AND ' key...
          // and DEL also equals .
          if (!e.ctrlKey && code!=9 && code!=8 && (code!=39 || (code==39 && character=="'"))) {
              if (character.match(restrictionType)) {
                  return true;
              } else {
                  return false;
              }
          }
      };

