extends ../../../templates/master.pug 
block vars
  - var title = 'Office Serial'

block unique-content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | MS Office Serial
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Serial
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                  tr
                    th Serial Number
                    th Vacancy Left
                    th Action
                tbody
                  each mso in office
                    tr
                      td #{mso.strMSSerial}
                      td #{mso.intVacancy}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit details', data-toggle="modal", data-target="#editModal", data-id=mso.intMSID, data-serial=mso.strMSSerial, data-vaca=mso.intVacancy)
                          i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle(type='button', title='Delete office serial', data-toggle="modal", data-target="#deleteModal", data-id=mso.intMSID)
                          i.fa.fa-trash
    
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Serial
          form(action='/office', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Serial Number
                        input.offSerial.form-control(type='text' name='offSerial' placeholder="ABC12345" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='8' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Add

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Serial
          form(action='/office/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-9
                      .form-group
                        label.control-label Serial Number
                        input.offSerial.form-control(type='text' name='offSerial' placeholder="ABC12345" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='8' required)         
                    .col-md-3
                      .form-group
                        label.control-label Vacancy
                        input.offVaca.form-control(type='text' name='offVaca' placeholder="0" onkeypress='return restrictCharacters(this, event, numOnly)' maxlength='1' required)         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Serial
          form(action='/office/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this serial number?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body .id').val(`${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var serial= button.data('serial')
      var vacant = button.data('vaca')
      let modal = $(this);     
      modal.find('.modal-body .id').val(` ${id}`)
      modal.find('.modal-body .offSerial').val(`${serial}`)
      modal.find('.modal-body .offVaca').val(`${vacant}`)
      });