extends ../../../templates/master.pug 
block vars
  - var title = 'Storage'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Storage
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Stock
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                    tr
                        th Equipment
                        th Quantity
                        th Value per Unit
                        th Action
                tbody
                    each sto in storeg
                        tr
                            td #{sto.txtStorageEquip}
                            td #{sto.intStorageQty}
                            td ₱#{sto.fltPrice}
                            td
                                button.btn.btn-primary.btn-circle(type='button', title='Edit storage input', data-toggle="modal", data-target="#editModal" data-id=sto.intStorageID data-qty=sto.intStorageQty data-pri=sto.fltPrice data-brand=sto.strBrand data-mod=sto.strMod)
                                    i.fa.fa-wrench
                                button.btn.btn-danger.btn-circle(type='button', title='Delete storage data', data-toggle="modal", data-target="#deleteModal" data-id=sto.intStorageID)
                                    i.fa.fa-trash

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Stock
          form(action='/storage', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-4
                      .form-group
                        label.control-label Brand
                        input.stoBrand.form-control(type='text' name='stoBrand' placeholder="Apple" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-4
                      .form-group
                        label.control-label Model
                        input.stoModel.form-control(type='text' name='stoModel' placeholder="MacBook Pro" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-4
                      .form-group
                        label.control-label Unit Type
                        select#stoUnit.form-control(name='stoUnit')
                          option.stoUnit(value='' selected) - Select Unit -
                          each uni in unity
                            option.stoUnit(value=uni.intUnitID) #{uni.strUnitTypeDesc}
                    .col-md-3
                      .form-group
                        label.control-label Quantity
                        input#strgQty.form-control(type='text' name='strgQty' placeholder="1" onkeypress='return restrictCharacters(this, event, numOnly)' required)
                    .col-md-9
                      .form-group
                        label.control-label Value
                        input#stoVal.form-control(type='text' name='stoVal' placeholder="₱1000.00" onkeypress='return restrictCharacters(this, event, floatOnly)' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Stock
          form(action='/storage/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden.id(type='text' name='id')
                  .row
                    .col-md-4
                      .form-group
                        label.control-label Brand
                        input.stoBrand.form-control(type='text' name='stoBrand' placeholder="Apple" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
                    .col-md-4
                      .form-group
                        label.control-label Model
                        input.stoModel.form-control(type='text' name='stoModel' placeholder="MacBook Pro" onkeypress='return restrictCharacters(this, event, alphaNumOnly)' required)
                    .col-md-4
                      .form-group
                        label.control-label Unit Type
                        select.stoUnit.form-control(name='stoUnit')
                          option.stoUnit(value='' selected) - Select Unit -
                          each uni in unity
                            option.stoUnit(value=uni.intUnitID) #{uni.strUnitTypeDesc}
                    .col-md-3
                      .form-group
                        label.control-label Quantity
                        input.strgQty.form-control(type='text' name='strgQty' placeholder="1" onkeypress='return restrictCharacters(this, event, numOnly)' required)
                    .col-md-9
                      .form-group
                        label.control-label Value
                        input.stoVal.form-control(type='text' name='stoVal' placeholder="1000.00" onkeypress='return restrictCharacters(this, event, floatOnly)' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Stock
          form(action='/storage/delete', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this stock?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit') Delete

    script.
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #id').val(`${id}`)
      });

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var brand = button.data('brand')
      var mod = button.data('mod')
      var qty = button.data('qty')
      var pri = button.data('pri')
      let modal = $(this);     
      modal.find('.modal-body .id').val(`${id}`)
      modal.find('.modal-body .stoBrand').val(`${brand}`)
      modal.find('.modal-body .stoModel').val(`${mod}`)
      modal.find('.modal-body .strgQty').val(`${qty}`)
      modal.find('.modal-body .stoVal').val(`${pri}`)
      });

