extends ../../../templates/master.pug 
block vars
  - var title = 'Unit Type'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Units
          button.btn.btn-primary.btn-success.btn-lg.pull-right(type='button', data-toggle="modal", data-target="#addModal")
            i.fa.fa-plus-circle.fa-fw
            |  Add Unit
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover.datatables
                thead
                  tr
                    th Unit Type
                    th Action
                tbody
                  each typ in types
                    tr
                      td #{typ.strUnitTypeDesc}
                      td
                        button.btn.btn-primary.btn-circle(type='button', title='Edit unit type', data-toggle="modal", data-target="#editModal", data-id=typ.intUnitTypeID, data-type=typ.strUnitTypeDesc)
                          i.fa.fa-wrench
                        button.btn.btn-danger.btn-circle.myDelete(type='button', value=typ.intUnitTypeID)
                          i.fa.fa-trash

    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Unit Type
          form(action='/unittype', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Unit Type
                        input#unitType.form-control(type='text' name='unitType' placeholder="MacBook Pro" onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Unit Type
          form(action='/unittype/update', method='post')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Unit Type
                        input.unitType.form-control(type='text' name='unitType' onkeypress='return restrictCharacters(this, event, alphaOnly)' required)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save


    // #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    //   .modal-dialog
    //     .modal-content
    //       .modal-header
    //         button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    //         h4#myModalLabel.modal-title Remove Unit Type
    //       form(action='/unittype/delete', method='post')
    //         .modal-body
    //           .container-fluid
    //             .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
    //               input.hidden#id(type='text' name='id')
    //               .row
    //                 .col-md-12
    //                   .form-group
    //                     h4 Delete this unit type?
    //         .modal-footer
    //           button.btn.btn-default(type='button', data-dismiss='modal') Close
    //           button.btn.btn-default(type='submit') Delete
 

    script.
      $(document).ready(function(){
        $('.myDelete').click(function(){
          var idNow = $(this).val();
          var link = '/unittype/delete/';
          console.log('test');
          console.log(idNow);
          swal({
            title: 'Delete Unit Type?',
            text: 'This record cannot be accessed once deleted.',
            icon: 'warning',
            buttons: ['No', 'Yes'],
            dangerMode: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
          }).then((result) => {
              if(result){
                var idNow = $(this).val();
                var link = '/unittype/delete/';
                var bura = $(this).closest('tr');
                console.log(idNow);
                $.ajax({
                  method : 'POST',
                  url : link,
                  data : {
                    id : idNow
                  },
                  success:(function(response){
                    if(response == "deleted"){
                      swal({
                        title: "Success!",
                        text: "Hooray! Unit type successfully deleted!",
                        icon: "success",
                        buttons: false,
                        closeOnConfirm: false,
                        timer: 1500
                      });
                      bura.fadeOut();                    
                    }
                  })
                })
              }
              else{
                swal({
                  title: "Canceled",
                  text: "Your record is safe.",
                  icon: "success",
                  buttons: false,
                  timer: 1500,
                });
              }
          })
        })
      })

    script.
      $('#editModal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      var unitType = button.data('type')
      let modal = $(this);     
      modal.find('.modal-body #id').val(`${id}`)
      modal.find('.modal-body .unitType').val(`${unitType}`)
      });